@import "../../styles/variables.less";

.home {
  height:100vmax;
  overflow:hidden;

  .left-panel{

  }

  .right-panel{
    background-color:#F7F7F7;
  }

  .logo{

    height:100px;
    margin-top:20px;

    img:first-child {
      width:150px;
    }

    img:last-child {
      margin-top:20px;
    }

    img {
      float:left;
      display:inline-block;
      vertical-align: middle;
    }
  }
}
